$bg-color-base: #ff0000;
$bg-color-important: #800000;
$bg-color-main: #fa8072;
$color-variant: #000;
$font-familiy-variation: Verdana, Geneva, Tahoma, sans-serif;
$border-radius-variation: 0px;
$box-shadow-variation: -7px 5px 10px 1px;