$bg-color-base: #0000ff;
$bg-color-important: #020281;
$bg-color-main: #20b2aa;
$color-variant: #fff;
$font-familiy-variation: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$border-radius-variation: 5px;
$box-shadow-variation: 7px 5px 10px 1px #000;